[user]
	name = sebi
	email = alariq@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = diff
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
