!Do not forget to do next thing after modfying this file
!
!xrdb -merge ~/.Xresources
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


XTerm*customization: -color

XTerm*locale: true
Xterm*saveLines: 4096
!Xterm*reverseVideo: on
XTerm*foreground: rgb:b2/b2/b2
XTerm*background: rgb:08/0/08
XTerm*font:-xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso10646-1 
!9x15

XTerm*termName: xterm-256color

XTerm.vt100.color0: rgb:00/00/00
XTerm.vt100.color1:rgb:cc/00/00
XTerm.vt100.color2:rgb:4e/9a/06
XTerm.vt100.color3:rgb:c4/a0/00
XTerm.vt100.color4:rgb:34/65/a4
XTerm.vt100.color5:rgb:75/50/7b
XTerm.vt100.color6:rgb:06/98/9a
XTerm.vt100.color7:rgb:d3/d7/cf

XTerm.vt100.color8:rgb:55/57/53
XTerm.vt100.color9:rgb:ef/29/29
XTerm.vt100.color10:rgb:8a/e2/34
XTerm.vt100.color11:rgb:fc/e9/4f
XTerm.vt100.color12:rgb:73/9f/cf
XTerm.vt100.color13:rgb:ad/7f/a8
XTerm.vt100.color14:rgb:34/e2/e2
XTerm.vt100.color15:rgb:ee/ee/ec


! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
!
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1

!Xterm escapes, word by word movement
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C

!It is said that this fixes fonts being slow https://blog.awhetter.co.uk/posts/3
!URxvt.buffered: false

URxvt.font: -xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso10646-1
!URxvt.boldFont: -*-terminus-bold-r-normal-*-*-140-72-72-*-*-*-u
!URxvt.font: xft:Terminus:pixelsize=14;antialias=false
!URxvt.font: -*-terminus-medium-r-normal-*-14-140-72-72-*-*-*-*
!URxvt.font: -*-terminus-medium-r-*-*-12-120-*-*-*-*-iso10646-*
!
!URxvt.font: 9x15bold,\
!    -misc-fixed-bold-r-normal--15-140-75-75-c-90-iso10646-1,\
!    -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1, \
!    [codeset=JISX0208]xft:Kochi Gothic:antialias=false, \
!    xft:Code2000:antialias=false

URxvt.foreground: rgb:b2/b2/b2
URxvt.background: rgb:08/0/08

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5a

URxvt*skipBuiltinGlyphs:    true

URxvt.colorBD:  white
URxvt.colorIT:  green

!URxvt.italicFont:        xft:Bitstream Vera Sans Mono:italic:autohint=true
!URxvt.boldItalicFont:    xft:Bitstream Vera Sans Mono:bold:italic:autohint=true

URxvt.saveLines:        8192
URxvt.visualBell:       true

! From Tango team of gnome-terminal (colors taken from xfce4/terimal/colorschemes)
URxvt.color0:#000000
URxvt.color1:#cc0000
URxvt.color2:#4e9a06
URxvt.color3:#c4a000
URxvt.color4:#3465a4
URxvt.color5:#75507b
URxvt.color6:#06989a
URxvt.color7:#d3d7cf

URxvt.color8:#555753
URxvt.color9:#ef2929
URxvt.color10:#8ae234
URxvt.color11:#fce94f
URxvt.color12:#739fcf
URxvt.color13:#ad7fa8
URxvt.color14:#34e2e2
URxvt.color15:#eeeeec
