# My ZenMax 
SUBSYSTEM==”usb”, ATTR{idVendor}==”0b05”, ATTR{idProduct}==”7780”, MODE=”0666″
# Oculus Quest
SUBSYSTEM==”usb”, ATTR{idVendor}==”2833”, ATTR{idProduct}==”0186”, MODE=”0666″, GROUP="adbusers"

# Lera's phone
SUBSYSTEM==”usb”, ATTR{idVendor}==”12d1”, ATTR{idProduct}==”107e”, MODE=”0666″

# Mama's phone
SUBSYSTEM==”usb”, ATTR{idVendor}==”17ef”, ATTR{idProduct}==”2008”, MODE=”0666″

